.contentsss{
    background-color: white;
}
.contentsss h2{
   padding-top: 30px;
   padding-bottom: 20px;
    background-color: white;
    color: #152D73;
    
}
.contentsss p{
    margin-top: 14px;
    margin-bottom: 14px;
}
.view{
    color: #152D73;
}
.contentsss h3{
    color: #152D73;
}