*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.Logo{
    width:50px;
    margin-left: 110px;
    margin-bottom: 30px;
    background-color: white;
}

.welcome{
    
    color:#152D73;
    margin-top:10px;
    background-color: white;
}
.proceed{
    margin-top: 6px;
    color: #8B8B8B;
}
.google{
    margin-top:30px;
    background-color: white;
    margin-bottom: 30px;;
    color:white;
    border:1px solid black;
    width: 320px;
    display: flex;
    justify-content: center;
    padding:10px;
    border-radius: 25px;;
}
.innerGoogle{
display: flex;
justify-content: center;
vertical-align: center;
background-color: white;
 
}
.google-logo{
    
    width:20px;
    background-color: white;
   
}
.login-google{
    display: inline-block;
    color:black;
    margin-left: 20px;
}
.hr1{
    margin-top: 20px;
    width: 135px;
    background-color: white;
    display: inline-block;
    
}
.or{
    display: inline-block;
    margin-left: 9px;
    background-color: white;
}
.hr2{
    margin-top: 20px;
    margin-left:9px;
    width: 150px;
    display: inline-block;
    background-color: white;
}
.line{
    margin-top: 30px;
    background-color: white;
}
.forms{
    margin-top: 30px;
    background-color: white;
}
.email{
   margin-top:40px;
    width:320px;
    border:0;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    padding:10px;
    border-radius: 20px;
    border-bottom:1px solid #eee;
    background-color: white;
   
}
label{
    display: inline-block;
    background-color: white;
}
.BOX{
    margin-top: 20px;
    margin-left:10px;
    background-color: white;
    
}
.remember{
    display: inline-block;
    margin-left:20px;
}
.forget{
    display: inline-block;
    margin-left: 70px;
    background-color: white;
    
}
.Login{
    margin-top:30px;
    background-color: #64748B;
    color:white;
    width:320px;
    padding: 10px;
    border-radius: 20px;
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    
}
.else{
    margin-top:20px;
}
.signup{
    background-color: white;
    color:#152D73;
    
}
.image{
   height:100vh;
    width: 50vw;
    
}
.flex-container{
    display: flex;
    justify-content: space-between;
    background-color: white;
    
}
.left{
    margin-left: 150px;
    margin-top: 40px;
    background-color: white;
}
.check{
    width: 15px;;
}
