.Write-Post-Container{
    background-color: white;
  
    width: 750px;
    margin-top: 20px;
    border-radius: 30px;
    padding: 20px;
    display: grid;
    margin-left: auto; 
    margin-right: auto;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
 
    align-items: center;
}
.post-container-uppper{
    display: flex;
    align-items: center;
}
.post-container-uppper p{
    margin-left: 8px;
    background-color: white;
    font-size: 18px;

}
.post-container-left{
    margin-left: 46px;

}
.Wite-Post-Hashtag-Area{
    background-color: white;
    
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
    
    
}
.Wite-Post-Text-Area{
    background-color: white;
    width: 600px ;
    height: 30px;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    resize: none;
}

.Upload-Container{
    background-color: white;
    margin-top: 10px;
    display: flex;
    width: 700px;
    align-items: center;
}
.Upload-Container img{
width: 30px;
height: 30px;

}
.Upload-Container p{
margin-left: 8px;
font-size: 13px;
}
.Upload-Container button{

height: 20x;
width: 60px;
padding: 3px;
margin-bottom: 12px;
background-color:#152D73;
}
.selecthashtag input{
margin-top: 5px;
margin-bottom:15px ;
}
.selecthashtag button{
    background-color: #3377FA;
    width: 150px;
    margin-right: 20px;
    border: none;
}
.selecthashtag :hover{
    background-color: #76A5FF;
}