.profiletag{
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
}
.tagheading{
    display: flex;
    align-items: center;
    background-color: white;
    
    
}
.tagheading p{
    font-size: 20px;
    margin-left: 10px;
   
}
.tagheading img{
    width: 35px;
}
.dots {
    font-weight: 800;
    width: 40px;
    margin-left: auto;
    margin-bottom: 4px;
    
}
.tagsubheading{
    display:flex;
    margin-top: 10px;
}
.tagsubheading p{
    margin-right: 20px;
    margin-left: 45px;

    font-weight: 600;
}
.tagsubheading span{
    font-weight: 400;
    font-size: 14px;
    margin-left: 5px;
}